.top-container {
  background-color: #252525;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #252525;
}

.bottom-container {
  background-color: #252525;
}

body {
  margin: 0px;
  text-align: center;
  font-family: Merriweather, serif;
}

h1 {
  margin-top: 0px;
  color: #FF0000;
  font-family: Sacramento, cursive;
}

h2 {
  font-family: Montserrat, sans-serif;
}

h3 {
  font-family: Montserrat, sans-serif;
}

p {
  color: white;
}

.bottom-phoenix {
  position: absolute;
  left: 450px;
  top: 30px;
}

.top-phoenix {
  position: absolute;
  right: 450px;
  top: 30px;
}

.cloud1 {
  height: 400px;
  width: 400px;
  position: absolute;
  left: -100px;
  top: -100px;
}

.cloud2 {
  height: 400px;
  width: 400px;
  position: absolute;
  left: 100px;
  bottom: 50px;
}

.cloud3 {
  height: 30px;
  width: 40px;
  position: absolute;
  right: 700px;
  bottom: 50px;
}

.cloud4 {
  height: 400px;
  width: 400px;
  position: absolute;
  right: -140px;
  top: -160px;
}

.cloud5 {
  height: 400px;
  width: 400px;
  position: absolute;
  right: 250px;
  bottom: 65px;
}

.mountain {
  position: relative;
  width: 100%;
}
